  <nav class="blue darken-4">
    <div class="nav-wrapper">
      <div class="container">
        <a href="/users" class="brand-logo">Users</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">

          {{#if isUser}}
          <li class="active"><a href="/user">User</a></li>
          {{else}}
          <li><a href="/user">User</a></li>
          {{/if}}
          
          {{#if isUsers}}
          <li class="active"><a href="/users">Users</a></li>
          {{else}}
          <li><a href="/users">Users</a></li>
          {{/if}}

          {{#if isCreate}}
          <li class="active"><a href="/create">Create user</a></li>
          {{else}}
          <li><a href="/create">Create user</a></li>
          {{/if}}

          {{#if isCreateText}}
          <li class="active"><a href="/create_text">Create text</a></li>
          {{else}}
          <li><a href="/create_text">Create text</a></li>
          {{/if}}
          
        </ul>
      </div>
    </div>
  </nav>