<form action="/create_text" method="POST">
    <h2>Create text</h2>
    <div class="input-field">
        <input placeholder="User_id" type="text" name="user_id">
    </div>
    <div class="input-field">
        <input placeholder="text" type="text" name="text">
    </div>

    <button type="submit" class="btn">Create text</button>

</form>