<form action="/create" method="POST">
    <h2>Create user</h2>
    <div class="input-field">
        <input placeholder="name" type="text" name="name">
    </div>

    <button type="submit" class="btn">Create</button>

</form>